<a [routerLink]="['/video', video.id]" class="video-card">
    <div class="thumbnail-wrapper">
        <img src="default-thumbnail.png" class="thumbnail" loading="eager">
        <span class="duration">{{ video.duration || '00:00' }}</span>
    </div>
    <div class="details">
        <div class="avatar"></div>
        <div class="meta">
            <h3 class="title">{{ video.title }}</h3>
            <div class="channel-name">{{ video.uploader }}</div>
            <div class="stats">
                {{ video.likes.length || 0 }} likes • {{ video.created_at | date:'mediumDate' }}
            </div>
        </div>
    </div>
</a>